body {
    display: flex;
}
header {
    border: 5px outset red;
    width: 350px;
    height: fit-content;
    padding-bottom: 50px;
}
.mainBody {
    column-width: 240px;
}


@media (max-width:500px){
    body {
        display: inline;
    }
    .mainBody {
        min-width: 494px;
        column-count: 2;
        column-gap: 2px;
    }
    header {
        margin: auto;
        flex-direction: column;
    }
}



